/*General*/
a {
  color:inherit;
}
body {
  font-family: 'Cabin', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  line-height: 1.3;
  font-weight: 400;
  font-size: 4rem;
  text-shadow: 3px 3px black;
}
h2 {
  font-size: 2.5rem;
  line-height: 1.5;
}

.big-paragraph {
  font-size: 1.5rem;
  line-height: 1.7;
}

.btn-toTop {
  position: fixed;
  bottom: 3%;
  right:2%;
  z-index: 3;
  border-radius: 100%;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}

.colored-section {
  background-color: #54bab9;
  color:white;
}

.container-fluid {
  padding: 0 3%;
}

.white-section {
  background-color: #f7ecde;
  color: black;
}

/*Navbar*/
.navbar {
  padding-top: 3%
}
.nav-item {
  margin-right:40px;
}

.nav-link {
  color: white;
}

.navbar-nav {
  margin-left: auto;
}

.logo {
  width:10rem;
}
@media (max-width:991px) {
  .nav-item{
    margin:0;
  }
}
 /*Main Section*/
 .btn-container {
   display: flex;
   padding: 0;
 }
 .btn-cv {
   font-size: 1.12rem;
   font-weight: bold;
   margin-bottom: 1%;
 }
 .contact-icon {
   font-size: 2.5rem;
   margin-left: 2%;
   transition: 0.2s;
 }
 .contact-icon:hover {
   color: black;
   text-shadow: 1.5px 1.5px white;
 }
 .main-content {
   padding-top: 10%;
 }
.top-img {
  position: relative;
  width: 40vw;
  bottom: 4vw;
  left: 6%;
}

#top-section {
  height: 100vh;
}
@media (max-width: 991px) {
  .top-img {
    position: static;
    width: auto;
  }
  .btn-container {
    display:inline-block;
    text-align: center;
    padding: 0;
  }

  .btn-cv {
    display: block;
    margin: 2% auto;
  }
  .contact-icon {
    font-size: 2.5rem;
    margin: 0 1%;
    transition: 0.2s;
  }
  .main-content {
    padding-top: 0;
  }
  .top-img {
    left:0;
    position: static;
    width: 90%;
  }
  #top-section {
    text-align: center;
    height: auto;
  }
  #about-section {
    position: relative;
  }
}

/*About Section*/
.about-info {
  width: 80%;
  text-align: center;
  margin: auto;
  padding: 6% 10%;

}
.about-skills {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  width: 70%;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
  gap: 2em;

}
.skill-container {
  margin:1%;
  text-align: center;
}
.skill-container h3 {
  padding-top: 15px;
}
.skill-img {
 width: 100px;
 transition: 0.1s;
}
.skill-img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.skill-img-rotated {
  transform: rotate(15deg)!important;
}
#about-section {
  padding-bottom: 5%;
}

#about-section h2 {
  text-align: center;
}
/*Project Section*/
.card {
  border: 5px #9ED2C6 solid;
  background-color: #9ED2C6;
  padding: 2% 3%;
}
.carousel-card {
  width:75%;
  margin: auto;
}
.carousel-container {
  padding-top: 3%;
}
.project-img {
  width: 20%;
}
.project-btn {
  border-radius: 100%;
  border: 1px white solid;
  width:50px;
  height: 50px;
  background-color: transparent;
  color: white;
  transition: 0.2s;
}
.project-btn:hover {
  background-color: white;
  color: black;
}
.project-icon {
  font-size: 2rem;
}
#projects-section {
  padding: 5% 8%;
  text-align: center;
}

/* Contact Section */
.btn-submit {
  width: 100%;
  margin: auto;
  background-color: #54BAB9;
  border: 2px solid #54BAB9;
  color: white;
  font-weight: bold;
}
.btn-submit:hover {
  background-color: #469c9b!important;
  color: white!important;
}
.contact-img {
  width: 100%;
}
.contact-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-form {
  margin-top: 5%;
}
.contact-form-container {
  background-color: #9ED2C6;
  border: 4px solid #54BAB9;
  box-shadow: 6px 6px #a39986;
  border-radius: 2%;
  color:white;
  height: 100%;
  padding: 2% 3%;
}
#contact-section {
  padding: 3% 7%;
}
@media (max-width:991px){
  #contact-section h2,h3 {
    text-align: center;
  }
}
/*Footer Section*/
.footer-icon {
  font-size: 3rem;
  margin: 0 2%;
  color:#baae9b;
  transition:0.25s;
}
.footer-icon:hover {
  color:#ccbea7;
  text-shadow: 2px 2px #8c8373;
}
.footer-icon-container {
  margin-bottom: 2%;
}
.footer-paragraph {
  margin: 0;
  color:#8c8373;
}
#footer-section {
  text-align: center;
  padding: 4% 10%;
}
