/*General*/
a {
  color:inherit;
}
body {
  font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Barlow Condensed', sans-serif;
}

h1 {
  line-height: 1.3;
  font-weight: 400;
  font-size: 4rem;
  text-shadow: 3px 3px black;
}
h2 {
  font-size: 2.5rem;
  line-height: 1.5;
}
p {
  font-size: 1.5rem;
  line-height: 1.7;
}

.btn-toTop {
  position: fixed;
  bottom: 3%;
  right:2%;
  z-index: 1;
  border-radius: 100%;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}

.colored-section {
  background-color: #54bab9;
  color:white;
}

.container-fluid {
  padding: 0 3%;
}

.white-section {
  background-color: #f7ecde;
  color: black;
}

/*Navbar*/
.navbar {
  padding-top: 3%
}
.nav-item {
  margin-right:40px;
}

.nav-link {
  color: white;
}

.navbar-nav {
  margin-left: auto;
}

.logo {
  width:10rem;
}
@media (max-width:991px) {
  .nav-item{
    margin:0;
  }
}
 /*Main Section*/
 .btn-container {
   display: flex;
   padding: 0;
 }
 .btn-cv {
   font-size: 1.12rem;
   font-weight: bold;
   margin-bottom: 1%;
 }
 .contact-icon {
   font-size: 2.5rem;
   margin-left: 2%;
   transition: 0.2s;
 }
 .contact-icon:hover {
   color: black;
   text-shadow: 1.5px 1.5px white;
 }
 .main-content {
   padding-top: 10%;
 }
.top-img {
  position: relative;
  width: 40vw;
  bottom: 15%;
  left: 6%;
}
#top-section {
  height: 100vh;
}
@media (max-width: 991px) {
  .top-img {
    position: static;
    width: auto;
  }
  .btn-container {
    display:inline-block;
    text-align: center;
    padding: 0;
  }

  .btn-cv {
    display: block;
    margin: 2% auto;
  }
  .contact-icon {
    font-size: 2.5rem;
    margin: 0 1%;
    transition: 0.2s;
  }
  .main-content {
    padding-top: 0;
  }
  .top-img {
    left:0;
    position: static;
    width: 90%;
  }
  #top-section {
    text-align: center;
  }
  #about-section {
    position: relative;
  }
}

/*About Section*/
.about-info {
  width: 80%;
  text-align: center;
  margin: auto;
  padding: 6% 10%;

}
.about-skills {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  width: 70%;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
  gap: 2em;

}
.skill-container {
  margin:1%;
  text-align: center;
}
.skill-img {
 width: 100px;
}
/*Proyect Section*/
.proyect-img {
  width: 20%;
}

#about-section {
  padding-bottom: 5%;
}

#about-section h2 {
  text-align: center;
}
